* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin: 20px;
}

/*===========================
Movie Detail Page
===========================*/
#flexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#imageSection {
    margin-right: 20px;
}


/*===========================
Movie List Page
===========================*/
